<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>help</title>
</head>

<body>
    <header class="main-content">
        {{>header}}
        <p class="head-para">See your city weather in just 3 steps.</p>
        <p class="head-para side-para">1. Enter the city name.</p>
        <p class="head-para side-para">2. Click on the search button. </p>
        <p class="head-para side-para">3. See your city weather right below </p>
    </header>


    {{>footer}}
</body>

</html>